.container-page-chat {
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
}
.container {
  margin-top: auto;
  margin-bottom: auto;
}

.chat {
  display: flex;
  background-color: rgb(116, 128, 124);
  flex-direction: column;
  padding: 0;
  .chat-header {
  }
  .chat-body {
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;

    border: 2px black solid;
    display: flex;
    flex-direction: column;
  }
  .chat-footer {
  }
}
